<!-- Mobile Tooltip Sidebar -->
<div id="tooltip-sidebar" class="tooltip-sidebar">
    <div class="tooltip-sidebar-header">
        <h3 id="tooltip-sidebar-title">Details</h3>
        <button class="tooltip-sidebar-close" onclick="closeTooltipSidebar()">&times;</button>
    </div>
    <div class="tooltip-sidebar-content" id="tooltip-sidebar-content">
        <!-- Content will be populated by JavaScript -->
    </div>
</div>
<div id="tooltip-sidebar-overlay" class="tooltip-sidebar-overlay" onclick="closeTooltipSidebar()"></div>
