<html>

<head>
    <title>EVE2 SPACE HOMEPAGE</title>
    <h1>EVE2 SPACE HOMEPAGE</h1>
</head>

<body>
<ul class="utility">
    <li class="first"><a href="/eve2">Home</a></li>
    <li class=""><a href="/eve2/player">Login</a></li>
    <li class=""><a href="/eve2/ReadMe">ReadMe</a></li>
</ul>
</body>
</html>