<!DOitemUseYPE html>
<link type="text/css" rel="stylesheet" href="/static/basic.css"> 
<html>

<head>
    <title>EVE2 SPACE HOMEPAGE</title>
    <h1>EVE2 SPACE HOMEPAGE</h1>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}

	
</head>
<body>
	<div id="top-hat" style="border-bottom-color: ##dbd6d0;">
        <div id="top-hat-interior" class="wrapper4">
			<ul class="utility">
			<li class="first"><a href="/eve2">Home</a></li>
			<li class=""><a href="/eve2/player">Login</a></li>
			<li class=""><a href="/eve2/space_station">Space Station</a></li>
			<li class=""><a href="/eve2/industry">Industry</a></li>
			<li class=""><a href="/eve2/out_in_space">Out In Space</a></li>
			<li class=""><a href="/eve2/ReadMe">ReadMe</a></li>
			</ul>
		</div>
	</div>
	<div>
		{{{body}}}
	</div>
</body>
</html>