<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="/static/basic.css"> 
<html>

<head>
    <title>EVE2 HOMEPAGE</title>
    <h1 class="topHeader">EVE2 HOMEPAGE</h1>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}

	
</head>
<body>

	<div id="top-hat" style="border-bottom-color: ##dbd6d0;">
        <div id="top-hat-interior" class="wrapper4">
			<ul class="utility">
			<h3><li class="first"><a href="/eve2">Home</a></li></h3>
			<h3><li class=""><a href="/eve2/player">Login</a></li></h3>
			<h3><li class=""><a href="/eve2/operations">Operations</a></li></h3>
			<h3><li class=""><a href="/eve2/ReadMe">ReadMe</a></li></h3>
			</ul>
		</div>
	</div>
	<div class="clear-block">
		{{{body}}}
	</div> <!-- end clear block -->
</body>
</html>