<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="/static/basic.css"> 
<html>

<head>
    <title>EVE2 SPACE HOMEPAGE</title>
    <h1>EVE2 SPACE HOMEPAGE</h1>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}

	
</head>
<body>
	<div>
		{{{body}}}
	</div>
</body>
</html>