<html>
<div class="page">
Navigation Count Since Last Session Change: {{counter}}
<ul class="linklist">
    <li class="first"><a href="/eve2">Home</a></li><br>
    <li class=""><a href="/eve2/player">Login</a></li><br>
    <li class=""><a href="/eve2/space_station">Space Station</a></li><br>
    <li class=""><a href="/eve2/out_in_space">Out In Space</a></li><br>
    <li class=""><a href="/eve2/ReadMe">ReadMe</a></li><br>
</ul>

<p>
       <h3><br>This database models only a few of aspects of the MMORPG EvE Online.
       <br>EvE Online is a space-based, persistent world massively muliplayer online role-playing game.
       <br>Players of EVE Online can participate in a number of in-game professions and activities, including:
       <br>mining, piracy, manufacturing, exploration and combat.
       <br><br>In this website, you can explore EvE Online briefly.
       <br>You can make your own player and pioneer new Wormholes to new star systems. 
       <br>You can travel to the new systems and dock at existing space stations.
       <br><br>In the space station, you can invent new structures and design new uses for them.
       <br>Currently, this feature supports creating new boxes, ships, and station types.
       <br>You can also reorganize items in your inventory, package and unpackage items, and trash or jettison unwanted belongings into space.
       <br><br>When you produce and unpackage new space ships, you can change your piloting ship.
       <br>You can have whatever you want, and you can go to wherever you want in our website.
       <br>Start your adventure NOW!</h3>
</p>

</div>
<div id="sidebar"></div>
</html>