<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SQL Queries
for CS340 project</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Requirements:</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>1) Add
capability for all entities</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>2) Delete
and update capability for any entity</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>3) Add to
all relationships</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>4) Add and
remove to at least one many-to-many relationship</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>5) Search
using text or filter using dynamically populated list of properties to filter
on, present for at least one entity (either players on player screen or structures
in industry)</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>QUERIES
BY Requirement</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>1) Add
capability for all entities</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the
player entity: Add a new player on the player page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the
player entity: Design a new item use on the industry page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the
structures entity: Invent a new item structure on the industry page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the
locations entity: Chart a wormhole on the out in space page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>2) Delete
and update capability for any entity</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Delete a
player entity record: delete a player on the player page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Update a
player entity record: Switch ships in the space station page.<br>
OR</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Update an
item emtity record: Unpackage an object in the space station page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>3) Add to
all relationships</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "item structure
HAS item use" 1-to-1 relationship: design an item use in the industry view. 
When you create an item use record, you must also assign it to an item with the
selection box.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the
Cargo Space entity: Unpackaging and naming a cargo space
in the space station view adds a record to the Cargo Space table.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "cargo space contains" 1-to-many relationship:
move an object into a cargo space on space station page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "cargo space
NESTS IN cargo space" many-to-one relationship: move a cargo space into another
cargo space on space station page</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>OR</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Dock at a
station while out in space view. This simply moves the ship cargo space into the
space station cargo space.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "cargo space
OCCUPIES location" one-to-many relationship: Create a new player on
the player page. Doing so creates a new ship in a new space station in a set location.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>OR</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Unpackage an
object corresponding to a cargo space on a space station page. Doing so also creates a new cargo space
in that space station's location.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "location
CONNECTS TO location" many-to-many relationship: Chart a wormhole on the out in
space page. This links a new location to an old location and vice versa (two new
mirror image records on the table).</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Add to the "player
PILOTS cargo space" one-to-one relationship: change ships on space station
page.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>OR</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Create a new
character on the player page. This starts them piloting a ship.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>4) Add and
remove to at least one many-to-many relationship</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Adding to a
many-to-many relationship is already included above: chart a wormhole.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Remove a
record from a many-to-many relationship: destroying a wormhole link is yet to be implemented.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>5) Search
using text or filter using dynamically populated list</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Sort players
by name or location: Under construction. Sort players by name or location.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>OR</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Sort objects
and cargo spaces by column: Table headings on the space station page act as
hyperlinks to sort tables by that heading, toggling between ascending and
descending.</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>QUERIES
BY View</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>--
Players View</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
create a new player by a form</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
list players by id (hidden), name, piloting container, location for main player
list and selection box</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>DELETE a
player by ID</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>-- Out in
space View</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>UPDATE to
dock: move NESTS IN entry of cargo space by session player -&gt;
container_piloting, location id in dropdown</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>UPDATE* to
travel: change cargo space location and all subcargospace recursively</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT&amp;DELETE*
to jettison a cargo space: recursively remove subcargospace and contained objects</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>DELETE to
jettison an object: removes just an object entity</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
chart a wormhole: add a new location by a form and link it to your current
location</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>-- Space
Station View</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>UPDATE to
undock: new CS nests in set to NULL</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
view objects in a specific cargo space</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT* to
generate a tree of cargo spaces recursively</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
populate object selection input: trash an object</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
populate players selection input: give an object to another player</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
populate container input: move an object into another cargo space</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
unpackage a cargo space's corresponding object and create the space</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>DELETE to
repackage a cargo space's corresponding object and delete the space</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
move objects into cargo spaces</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>DELETE to
move objects out of cargo spaces</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT&amp;DELETE&amp;INSERT*
to empty cargo space contents recursively</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>UPDATE to
change piloting ships</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b>--
Industry View</b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
invent an item structure</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
design an item use</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>INSERT to
produce objects</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
get item structure types</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
get item use scales</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>SELECT to
get item structure list</p>

</div>

</body>

</html>
